<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nginx Container</title>
</head>
<body>
    <h1>Nginx Container</h1>
    <p>This is {{ inventory_hostname }} running Nginx.</p>
    <p>Welcome to the Nginx server!</p>
</body>
</html>
